# Data Visualisation

This notebook aims to explore the data retrived from ENCODE.

In [2]:
# loading the data
import pandas as pd

metadata_df = pd.read_csv('HepG2_data/HepG2_DNAm/metadata.tsv', sep='\t')
print(metadata_df.head())

  File accession   File format File type File format type  \
0    ENCFF690FNR     bed bed9+       bed            bed9+
1    ENCFF884UAE        bigWig    bigWig              NaN
2    ENCFF464CWC        bigWig    bigWig              NaN
3    ENCFF549SNG  bigBed bed9+    bigBed            bed9+
4    ENCFF840XVU     bed bed9+       bed            bed9+

                             Output type File assembly Experiment accession  \
0               methylation state at CpG        GRCh38          ENCSR786DCL
1   plus strand methylation state at CpG        GRCh38          ENCSR786DCL
2  minus strand methylation state at CpG        GRCh38          ENCSR786DCL
3               methylation state at CpG        GRCh38          ENCSR786DCL
4               methylation state at CpG        GRCh38          ENCSR625HZA

  Assay                    Donor(s) Biosample term id  ... Platform  \
0  WGBS  /human-donors/ENCDO000AAC/       EFO:0001187  ...      NaN
1  WGBS  /human-donors/ENCDO000AAC/       EFO:0001187  ...      NaN
2  WGBS  /human-donors/ENCDO000AAC/       EFO:0001187  ...      NaN
3  WGBS  /human-donors/ENCDO000AAC/       EFO:0001187  ...      NaN
4  WGBS  /human-donors/ENCDO336AAA/       EFO:0005723  ...      NaN

  Controlled by File Status  \
0           NaN    released
1           NaN    released
2           NaN    released
3           NaN    released
4           NaN    released

                                              s3_uri  \
0  s3://encode-public/2021/07/17/dccc66ef-985f-4e...
1  s3://encode-public/2021/07/17/8407f321-a9f9-4d...
2  s3://encode-public/2021/07/17/b72fba8b-4ccf-47...
3  s3://encode-public/2021/07/17/6aff99be-3685-4a...
4  s3://encode-public/2021/07/20/bfc10eed-ce81-48...

                                           Azure URL    File analysis title  \
0  https://datasetencode.blob.core.windows.net/da...  ENCODE4 v1.1.6 GRCh38
1  https://datasetencode.blob.core.windows.net/da...  ENCODE4 v1.1.6 GRCh38
2  https://datasetencode.blob.core.windows.net/da...  ENCODE4 v1.1.6 GRCh38
3  https://datasetencode.blob.core.windows.net/da...  ENCODE4 v1.1.6 GRCh38
4  https://datasetencode.blob.core.windows.net/da...  ENCODE4 v1.1.6 GRCh38

   File analysis status                 Audit WARNING  Audit NOT_COMPLIANT  \
0              released  low lambda C conversion rate                  NaN
1              released  low lambda C conversion rate                  NaN
2              released  low lambda C conversion rate                  NaN
3              released  low lambda C conversion rate                  NaN
4              released  low lambda C conversion rate                  NaN

                        Audit ERROR
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4  missing lambda C conversion rate

[5 rows x 59 columns]

WGBS - methylation data

In [5]:
# loading WGBS data (methylation)

WGBS_df = pd.read_csv('HepG2_data/HepG2_DNAm/processed/ENCFF690FNR.bed', sep='\t', names=['refChr', 'startChr', 'endChr', 'name', 'score', 'strand', 'startThick', 'endThick', 'rgb', 'reads', 'pctMe', 'refGen', 'sampGen', 'qualScore'])
WGBS_plus_df = pd.read_csv('HepG2_data/HepG2_DNAm/processed/ENCFF884UAE.bedGraph', sep='\t', names=['refChr', 'start', 'end', 'pctMe'])
WGBS_minus_df = pd.read_csv('HepG2_data/HepG2_DNAm/processed/ENCFF464CWC.bedGraph', sep='\t', names=['refChr', 'start', 'end', 'pctMe'])

Columns in big bed files (in FNR bed file):
- Reference chromosome or scaffold
- Start position in chromosome
- End position in chromosome
- Name of item
- Score from 0-1000. Capped number of reads
- Strandedness, plus (+), minus (-), or unknown (?)
- Start of where display should be thick
- End of where display should be thick
- Color value (RGB)
- Coverage, or number of reads
- Percentage of reads that show methylation at this position in the genome
- Reference genotype
- Sample genotype
- Quality score for genotype call


Final column in bigwig files = percent methylation at CpG site

In [6]:
display(WGBS_df.head())
display(WGBS_plus_df.head())
display(WGBS_minus_df.head())

,refChr,startChr,endChr,name,score,strand,startThick,endThick,rgb,reads,pctMe,refGen,sampGen,qualScore
0,chr1,10468,10469,1,1,+,10468,10469,"0,255,0",1,0,CG,MG,3
1,chr1,10469,10470,1,4,-,10469,10470,"155,255,0",4,25,CG,CK,5
2,chr1,10470,10471,1,1,+,10470,10471,"255,0,0",1,100,CG,CG,11
3,chr1,10471,10472,1,2,-,10471,10472,"255,0,0",2,100,CG,CG,6
4,chr1,10483,10484,1,1,+,10483,10484,"255,0,0",1,100,CG,CG,4

  refChr  start    end  pctMe
0   chr1  10009  10012    0.0
1   chr1  10015  10018    0.0
2   chr1  10021  10024    0.0
3   chr1  10027  10030    0.0
4   chr1  10033  10036    0.0

  refChr  start    end  pctMe
0   chr1  10469  10470   25.0
1   chr1  10471  10472  100.0
2   chr1  10472  10473    0.0
3   chr1  10481  10482    0.0
4   chr1  10484  10485  100.0

RNA data - plus/minus strand and gene quant data

In [15]:
#loading RNA data

RNA_geneQuant_df = pd.read_csv('HepG2_data/HepG2_DNAm/ENCFF649XOG.tsv', sep='\t', header=0)
RNA_minus_df = pd.read_csv('HepG2_data/HepG2_DNAm/processed/ENCFF194TSC.bedGraph', sep='\t', names=['refChr', 'start', 'end', 'exp'])
RNA_plus_df = pd.read_csv('HepG2_data/HepG2_DNAm/processed/ENCFF792BNC.bedGraph', sep='\t', names=['refChr', 'start', 'end', 'exp'])

Columns for RNA:

- chromosome
- start
- end
- gene expression?

In [16]:
display(RNA_plus_df)
display(RNA_minus_df)
display(RNA_geneQuant_df)

        refChr     start       end      exp
0         chr1    190711    190761  0.02116
1         chr1    190786    190808  0.02116
2         chr1    190808    190836  0.06349
3         chr1    190836    190858  0.04233
4         chr1    190864    190892  0.04233
...        ...       ...       ...      ...
7198639   chrY  22823877  22823927  0.02116
7198640   chrY  22824904  22824954  0.02116
7198641   chrY  22825018  22825067  0.02116
7198642   chrY  56871389  56871439  0.02116
7198643   chrY  56871467  56871517  0.02116

[7198644 rows x 4 columns]

        refChr     start       end      exp
0         chr1     14475     14490  0.02116
1         chr1     14490     14525  0.04233
2         chr1     14525     14540  0.02116
3         chr1     14660     14668  0.02116
4         chr1     14668     14675  0.04233
...        ...       ...       ...      ...
7063920   chrY  24213384  24213405  0.02116
7063921   chrY  24213792  24213821  0.02116
7063922   chrY  26621781  26621831  0.02116
7063923   chrY  26621878  26621895  0.02116
7063924   chrY  26622511  26622544  0.02116

[7063925 rows x 4 columns]

,gene_id,transcript_id(s),length,effective_length,expected_count,TPM,FPKM,posterior_mean_count,posterior_standard_deviation_of_count,pme_TPM,pme_FPKM,TPM_ci_lower_bound,TPM_ci_upper_bound,TPM_coefficient_of_quartile_variation,FPKM_ci_lower_bound,FPKM_ci_upper_bound,FPKM_coefficient_of_quartile_variation
0,10904,10904,93.0,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,12954,12954,94.0,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,12956,12956,72.0,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,12958,12958,82.0,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,12960,12960,73.0,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59521,gSpikein_ERCC-00165,tSpikein_ERCC-00165,872.0,700.78,87.0,4.47,8.43,87.0,0.0,4.33,8.42,3.439680,5.244820,0.071704,6.672670,10.182700,0.071661
59522,gSpikein_ERCC-00168,tSpikein_ERCC-00168,1024.0,852.78,1.0,0.04,0.08,1.0,0.0,0.08,0.16,0.002566,0.194005,0.474234,0.005171,0.377749,0.474374
59523,gSpikein_ERCC-00170,tSpikein_ERCC-00170,1023.0,851.78,51.0,2.16,4.07,51.0,0.0,2.10,4.09,1.548640,2.687830,0.093629,3.011470,5.228390,0.093579
59524,gSpikein_ERCC-00171,tSpikein_ERCC-00171,505.0,333.85,3942.0,425.45,802.16,3942.0,0.0,406.87,791.53,394.250000,419.834000,0.010739,767.089000,816.791000,0.010720
59525,gSpikein_phiX174,tSpikein_phiX174,5386.0,5214.78,78337.0,541.27,1020.55,78337.0,0.0,517.51,1006.78,513.704000,521.421000,0.002592,999.854000,1013.850000,0.002408

Histone ChIP-Seq data - H3K9me3 and HeK27me3 modifications

In [23]:
# loading histone mod data
# H3K9me3
histone_pval_K9_df = pd.read_csv('HepG2_data/HepG2_histone/processed/ENCFF125NHB.bedGraph', sep='\t', names=['chrRef', 'start', 'end', 'pval'])
histone_peaks_K9_df = pd.read_csv('HepG2_data/HepG2_histone/processed/ENCFF170GMN.bed', sep='\t', header=None)

# H3K27me3
histone_pval_K27_df = pd.read_csv('HepG2_data/HepG2_histone/processed/ENCFF896BFP.bedGraph', sep='\t', names=['chrRef', 'start', 'end', 'pval'])
histone_peaks_K27_df = pd.read_csv('HepG2_data/HepG2_histone/processed/ENCFF841QVP.bed', sep='\t', header=None)

Histone columns:
- Chromosome 
- start
- end
- peak label?
- 

peaks:
- chromosome
- start
- end 
- replication pct?

In [24]:
display(histone_peaks_K9_df)
display(histone_pval_K9_df)

display(histone_peaks_K27_df)
display(histone_pval_K27_df)

,0,1,2,3,4,5,6,7,8,9
0,chr1,788438,790667,Peak_33943,206,.,4.85493,20.69931,18.43085,635
1,chr1,991782,992368,Peak_49693,167,.,5.23056,16.71326,14.64974,235
2,chr1,1112984,1113962,Peak_13060,297,.,7.35106,29.75177,27.03791,471
3,chr1,1194302,1195375,Peak_6971,362,.,8.27128,36.28568,33.31710,650
4,chr1,1770030,1770624,Peak_107498,98,.,3.79372,9.87359,8.21870,315
...,...,...,...,...,...,...,...,...,...,...
148025,chrY,26667979,26668865,Peak_48031,172,.,4.20870,17.27292,15.19134,673
148026,chrY,26668976,26671930,Peak_4,1000,.,6.71736,200.44463,194.12437,2116
148027,chrY,26672410,26672736,Peak_91129,112,.,3.60158,11.25807,9.52160,94
148028,chrY,56679663,56680112,Peak_60182,151,.,4.94783,15.15114,13.17521,124
148029,chrY,56683855,56684306,Peak_10462,321,.,6.92330,32.11600,29.30741,227

                           chrRef  start    end     pval
0                            chr1      0   9944  0.00100
1                            chr1   9944   9947  0.02630
2                            chr1   9947   9950  0.13984
3                            chr1   9950   9954  0.39194
4                            chr1   9954  10150  0.79457
...                           ...    ...    ...      ...
251263757  chrY_KI270740v1_random  17991  33769  0.00100
251263758  chrY_KI270740v1_random  33769  33984  0.02630
251263759  chrY_KI270740v1_random  33984  34006  0.13984
251263760  chrY_KI270740v1_random  34006  34212  0.02630
251263761  chrY_KI270740v1_random  34212  34224  0.00100

[251263762 rows x 4 columns]

,0,1,2,3,4,5,6,7,8,9
0,chr1,100236060,100236175,Peak_91116,33,.,3.38068,3.39518,0.84457,88
1,chr1,100538099,100538408,Peak_9577,65,.,5.03472,6.59658,2.72930,79
2,chr1,101135095,101135210,Peak_97001,32,.,3.29575,3.26597,0.83925,47
3,chr1,101236811,101237102,Peak_17149,61,.,4.77464,6.16004,2.57973,107
4,chr1,101237336,101237500,Peak_87875,36,.,3.27881,3.62443,1.03439,55
...,...,...,...,...,...,...,...,...,...,...
51278,chrX,848527,848652,Peak_65447,43,.,3.93203,4.39984,1.48232,36
51279,chrX,8742048,8742163,Peak_65448,43,.,3.93203,4.39984,1.48232,26
51280,chrX,915821,915961,Peak_5605,77,.,6.13741,7.77377,3.56466,85
51281,chrX,9295740,9295902,Peak_31774,54,.,4.48337,5.46977,2.10106,87
51282,chrX,966389,966573,Peak_48390,49,.,4.47639,4.98931,1.86485,111

                          chrRef  start    end     pval
0                           chr1      0  10071  0.30592
1                           chr1  10071  10100  0.82513
2                           chr1  10100  10127  0.50508
3                           chr1  10127  10186  0.18005
4                           chr1  10186  10215  0.04769
...                          ...    ...    ...      ...
59656086  chrY_KI270740v1_random  29725  31121  0.30592
59656087  chrY_KI270740v1_random  31121  31236  0.82513
59656088  chrY_KI270740v1_random  31236  36460  0.30592
59656089  chrY_KI270740v1_random  36460  36487  0.82513
59656090  chrY_KI270740v1_random  36487  36575  0.50508

[59656091 rows x 4 columns]

## Visualising

To begin, we utilised the HepG2 WGBS methylation state at CPG, RNA-Seq Gene Quantifications, and Histone ChIP-Seq pseudoreplicated peak files (loading them in their original forms). 
- ENCFF690FNR (first 9 columns only): WGBS
- ENCFF194TSC: RNA minus
- ENCFF792BNC: RNA plus
- ENCFF170GMN: Hist H3K9me3 pseudorep
- ENCFF505LOU: Hist H3K27me3 pseudorep

WGBS

RNA

In [ ]:
# combining RNA gene quantification file with V29 gene annotations

import pandas as pd

# Load GTF file - adjust columns names based on your GTF structure
gtf_columns = ['seqname', 'source', 'feature', 'start', 'end', 'score', 'strand', 'frame', 'attribute']
gtf_df = pd.read_csv('yourfile.gtf', sep='\t', comment='#', names=gtf_columns, usecols=['seqname', 'start', 'end', 'attribute'])

# Extract gene IDs and their positions
def extract_gene_id(attributes):
    return attributes.split('gene_id "')[1].split('";')[0]

gtf_df['gene_id'] = gtf_df['attribute'].apply(extract_gene_id)
gtf_df = gtf_df[['seqname', 'start', 'end', 'gene_id']]

# Assuming you have a DataFrame `quant_df` for your quantification data
quant_df = pd.read_csv('your_quant_data.csv')

Histone ChIP-Seq

## Intervals
First, annotate data with genes and aggregate at the gene level.

Compute the sum of modifications for an entire gene plus its transcription start site. An example model might have the signature: (sum DNA methylation, sum H3K9me3, ...etc) -> (gene expression level).

In [ ]:
# Gene annotations for WBGS data - can be applied directly to it using chr, start and end
# Gene annotations for RNA data - not sure how to approach this
# Gene annotations for hist CS data - do I used pseudo or p-val? annotate both using bedtools intersect

## Normalisation

Normalisation will utilise 'light-house genes'... XXX

In [ ]:
# For .bigBed files
#bb = pybedtools.BedTool('HepG2_DNAm/ENCFF549SNG.bigBed')
#for feature in bb:
    # process feature, which is an interval in the BED file
    #print(feature)